html, body {
  text-align: center;
  overflow-x: hidden;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}

.header {
  background: linear-gradient(180deg, #1c3db5 -16.72%, rgba(12, 32, 84, 0) 36.67%);
  background-color: #15183f;
  color: #fff;
  padding: 10px 0;
}
.header__logo {
  max-width: 30%;
}
.header__nav li:hover {
  color: #757cdf;
}
.header__nav li:active {
  color: #3841bf;
}

.main-page {
  max-width: 100%;
  background: linear-gradient(180deg, #5773D8 -16.72%, rgba(12, 32, 84, 0) 36.67%);
  background-color: #15183f;
  border: 1px solid #dac9c9;
  color: #fff;
  height: 100vh;
}
.main-page__bk {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid #fff;
}
.main-page__title {
  font-size: 35px;
  width: 450px;
  margin-bottom: 20px;
}
.main-page p {
  color: #cabdbd;
}

.items-page {
  padding: 100px 20px;
}
.items-page__icon {
  max-width: 30%;
}
.items-page__img {
  width: 250px;
  height: 150px;
}
.items-page__item {
  padding: 10px 20px 30px 10px;
  max-width: 30%;
  border: 1px solid #15183f;
  margin: 5px;
}
.items-page__desc {
  text-align: left;
  max-width: 95%;
}
.items-page__button {
  padding: 10px 20px;
  border: 1px solid #15183f;
  margin: 20px 20px;
}
.items-page__button:hover {
  background-color: #8b9ee1;
}

.footer {
  padding: 50px;
  background: linear-gradient(180deg, #5773D8 -16.72%, rgba(12, 32, 84, 0) 36.67%);
  background-color: #15183f;
}
.footer__nav {
  color: #fff;
}
.footer__nav li:hover {
  color: #757cdf;
}

/* Burger menu */
.burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  right: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header.open .burger-btn span {
  background-color: #fff;
}

@media (max-width: 860px) {
  .burger-btn {
    display: block;
    z-index: 5;
  }
  .nav {
    position: absolute;
    width: 250px;
    left: -250px;
    top: 0;
    padding: 70px 40px 20px;
    transition: transform 0.5s;
    z-index: 2;
    background-color: #7870f0;
  }
  .nav ul {
    display: block;
  }
  .nav a {
    display: block;
    padding: 10px 0;
  }
  .header.open .nav {
    transform: translateX(100%);
  }
  .main-page__container {
    display: initial;
  }
  .main-page__desc {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */